@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Global Solution Enterprise Application Development</h1>
    <br></br>
    <p>Essa aplicação foi feita usando MVC e conectada com o banco de dados da oracle, a nossa aplicação consiste em um sistema gerenciador de estacionamento onde você reserva a sua 
        vaga no sistema e quando chegar terá uma vaga disponível exclusivamente para você, assim não correndo o risco de você perder o seu tempo em ir até o
        estacionamento e ele estar lotado. Auxiliando assim na mobilidade urbana, que foi um dos desafios propostos pela empresa stellantis.</p> 
</div>
