@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Global Solution Enterprise Application Development</h1>
    <p>Está é uma aplicação de cadastramento de estacionamentos e carros, capaz de auxiliar de maneira prática a gestão de um estacionamento.</p>
</div>
